<div class="main">
  <h1 class="title" [ngClass]="{ fadeIn: isRecording }">
    Say the levitation charm
  </h1>
  <div class="feather-container">
    <img
      class="feather"
      src="../assets/feather.png"
      [ngClass]="{ levitate: correctSpell, stationary: !correctSpell }"
    />
  </div>
  <div class="button-group">
    <span
      (click)="startStopToggle()"
      class="pulse-button"
      [ngClass]="{ freeze: !isRecording }"
      >{{ isRecording ? 'Stop' : 'Start' }}</span
    >
    <!-- <a (click)="test()" class="a-button">test</a> -->
  </div>
</div>
